.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.game-over {
  text-align: center;
  color: red;
}
.reset-container {
  display: flex;
  justify-content: center;
}
.facebook {
  background-color: #1977f2;
}

.whatsapp {
  background-color: #4bed69;
}

.button-element {
  display: flex;
  align-items: center;
}
.text-item {
  border-bottom: solid 2px black;

  justify-content: center;
  display: flex;
}
.text-block {
  color: black;
}
.text-value {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  background-color: rgba(150, 67, 16, 0.351);
  padding: 1% 3%;
  border-radius: 10px;
  margin-bottom: 2%;
}
.home {
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
}
.left-container {
  width: 50%;
}
.right-container {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-blocks {
  height: 50%;
}
.category {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
  font-weight: 900;
}
.score-blocks-left {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .category {
    font-size: 25px;
  }
  .game-over {
    color: black;
    font-size: 15px;
  }
  button {
    font-size: 12px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .score-blocks-left {
    visibility: visible;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    width: 97%;
  }
  .score-blocks {
    visibility: hidden;
  }
  .right-blocks {
    height: 100%;
  }
  .text-value {
    font-size: 30px;
  }
}
